body{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    justify-content: space-between;
}

/* container css */
.container{
    position: relative;
    padding-left: 169px;
}
nav{
    margin-bottom: 20vh;
}
ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 25vw;
    list-style: none;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}
ul li{
    font-size: 1.5vw;
}
ul li a{
    text-decoration: none;
    color: #7E7E7E;
}
h1{
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
    font-size: 10vw;
    margin: 0;
}
.container p{
    color: #7E7E7E;
}
.readMore{
    border: 0.5px solid #BFBFBF;
    border-radius: 10px;
    width: 107px;
    height: 38px;
    display: flex;
    justify-content: space-around;
}
.readMore h4{
    margin: 0;
    line-height: 38px;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}
.readMore img{
    display: none;
}
.readMore a{
    text-decoration: none;
    color: #000;
    position: relative;
}
.readMore:hover{
    width: 180px;
    transition: 0.2s;
}
.readMore:hover img{
    display: block;
}

/* image css */
.image{
    position: relative;
}
.image img{
    height: 100%;
}
#second{
    height: 300px;
    position: absolute;
    z-index: 2;
    top: 25%;
    right: 70%;
}

/* responsive tablet */
@media screen and (max-width:834px){
    body{
        background: url(asset/img/background-tablet.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
    }
    #primer{
        display: none;
    }
    .container{
        padding-top: 5vh;
        padding-left: 89px;
    }
    nav{
        margin-bottom: 60%;
    }
    nav ul{
        width: 60%;
    }
    nav ul li{
        font-size: calc(24px - 0.8vw);
    }
    .container h1{
        font-size: 15vw;
    }
    #second{
        top: 20%;
        transform: translateX(-70%) rotate(15deg);
        max-width: 20vh;
    }
    .readMore{
        width: 180px;
        pointer-events: none;
    }
    .readMore img{
        display: block;
    }
}